body{
    display: flex;
    flex-direction: column;
    background-color: rgb(205, 231, 234);
    margin: 0;
    width: 100%;
}

.navbar{
    /* height: 30%; */
    display: flex;
    border-bottom: 2px solid black;
    /* padding-top: 2.5%;
    padding-bottom: 2.5%; */
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(6, 55, 70);
    color: azure;
}

#image{
    height: 50px;
    width: 100px;
    border-radius: 20%;
    padding: 0 2%;

}

.heading{
    margin: 0;
    padding-bottom: 1%;
}

.expensesForm{
    height: 30%;
    padding: 1%;
    border-bottom: 2px solid black;
}

.formElements{
    display: flex;
    justify-content: space-between;
}
.select{
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
}


#otherinput{
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118)),
}

.additionalDetails{
    display: flex;
    width: 100%;
}

.firstpart{
    width: 50%;
    border-right: 2px solid black;
}

.filtering{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    height: 25%;
    align-items: center;
}

.values{
    justify-items: center;
    height: 75%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#filteroptions{
    width: 40%;
    height: 30px;
    margin-left: 10px;
}

.secondpart{
    width: 50%;
}

.expensedetails{
    padding:10px;
}
.expensedetails th{
    border: 1px solid black; padding: 8px; text-align: left;
}

.expensedetails td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#dropdowns{
    display: flex;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    height: 25%;
}

/*#monthDropdown{
    width: 50%;
}

#yeardropdown{
    display: flex;
    text-align: center;
    padding-top: 5%;
    width: 50%;
    justify-content: space-evenly;
    text-align: center;
}

#yearDropdown{
    width: 50%;
}

.textval{
    padding-right: 2%;
    width: 50%;
}*/

#monthwisecontent{
    height: 75%;
}


/*
<div id="monthdropdown">
    <p class="textval">Select Month:</p>
    <select id="monthDropdown">
        <option value="MM">MM</option>
        <option value="January">January</option>
        <option value="February">February</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="Sepetember">Sepetember</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
    </select>
</div>
<div id="yeardropdown">
    <p class="textval">Select Year:</p>
    <select id="yearDropdown"></select>
</div>
*/
